# Assignment 1

# Question 1

In [1]:
#Try 5 Different functions of the string in Python.

In [2]:
name="Natsu Dragneel"
name.isalpha()

False

In [3]:
name.index('a')

1

In [4]:
name.upper()

'NATSU DRAGNEEL'

In [6]:
name.lower()

'natsu dragneel'

In [16]:
name.find("r")

7

#Question 2

Try 5 Different functions of the list in Python.

In [19]:
lst=[1,2,3,4,5,6,7,8,9,"Natsu",'a','b','c']
type(lst)

list

In [28]:
lst[8]

7

9

In [30]:
print(lst)

['Zero', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Natsu', 'a', 'b', 'c', 'Happy']

In [31]:
lst.append("Lucy")
print(lst)

['Zero', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Natsu', 'a', 'b', 'c', 'Happy', 'Lucy']

In [33]:
lst.insert(2,"Letsupgrade")
print(lst)

['Zero', 0, 'Letsupgrade', 'Letsupgrade', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Natsu', 'a', 'b', 'c', 'Happy', 'Lucy']

In [34]:
lst.pop(3)
print(lst)

['Zero', 0, 'Letsupgrade', 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Natsu', 'a', 'b', 'c', 'Happy', 'Lucy']

In [35]:
lst.reverse()
print(lst)

['Lucy', 'Happy', 'c', 'b', 'a', 'Natsu', 9, 8, 7, 6, 5, 4, 3, 2, 1, 'Letsupgrade', 0, 'Zero']

In [36]:
lst.clear()
print(lst)

[]

Question 3

Experient with atleast 5 default functions of Dictionary.

In [40]:
ditPerson={"Name": "Natsu Dragneel",
           "Partner": "Happy",
           "Age": 17,
           "Guild": "Fairy Tail"}
ditPerson.get("Name")

'Natsu Dragneel'

In [41]:
ditPerson.values()

dict_values(['Natsu Dragneel', 'Happy', 17, 'Fairy Tail'])

In [43]:
ditPerson.update({"Magic Type": "Dragon Slayer"})

In [44]:
ditPerson.values()

dict_values(['Natsu Dragneel', 'Happy', 17, 'Fairy Tail', 'Dragon Slayer'])

In [45]:
ditPerson.popitem()
print(ditPerson)

{'Name': 'Natsu Dragneel', 'Partner': 'Happy', 'Age': 17, 'Guild': 'Fairy Tail'}

In [46]:
ditPerson.clear()
print(ditPerson)

{}